@import "tailwindcss";

@theme {
  --color-winter: rgb(212, 235, 248);
  --color-winter-transparent: rgb(212, 235, 248, 0.6);
  --color-blue: rgb(31, 80, 154);
  --color-navy: rgb(10, 57, 129);
  --color-navy-transparent: rgb(10, 57, 129, 0.95);
  --color-orange: rgb(227, 142, 73);
}